*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  
  @include responsive(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
  @include responsive(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include responsive(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
  @include responsive(large-phone) {
    font-size: 43.8%; // 1rem = 7px
  }
  @include responsive(small-phone) {
    font-size: 38%; // 1rem = 6px
  }
}

body {
	box-sizing: border-box;
}

a,
span,
button {
	outline: none;
	cursor: pointer;
}

input {
	outline: none;
}

.App {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}
